table {
    border-collapse: collapse;
    width: 800px;
    margin: 0 auto;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

td:first-child {
    text-align: left;
}

tr:first-child {
    text-align: center;
}

caption {
    font-size: 20px;
    text-transform: none;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}

